TURN transport options - justification

From Spencer Dawkins in IESG review:

In this text

   In order to deal with firewalls that block all UDP traffic, the mode
   of TURN that uses TCP between the client and the server MUST be
   supported, and the mode of TURN that uses TLS over TCP between the
   client and the server MUST be supported.  See [RFC5766] section 2.1
   for details.
   
I think MUST for both TCP and TLS over TCP is still a good requirement,
but I note that RFC 5766 significantly predates RFC 7258, and wonder if
it's worth mentioning the tradeoffs in selecting which to use in a
pervasively monitored Internet, with RFC 7258 as a reference (RFC 5766
couldn't do that, of course).

My emailed response:

RFC 5766 section 2.1 has this to say about TLS-over-TCP mode:

TURN supports TLS-over-TCP transport between the client and the
server because TLS provides additional security properties not
provided by TURN's default digest authentication; properties that
some clients may wish to take advantage of. In particular, TLS
provides a way for the client to ascertain that it is talking to the
correct server, and provides for confidentiality of TURN control
messages. TURN does not require TLS because the overhead of using
TLS is higher than that of digest authentication; for example, using
TLS likely means that most application data will be doubly encrypted
(once by TLS and once to ensure it is still encrypted in the UDP
datagram).

I thought this text was clear enough that I didn't want to try to improve on it.



Comment in email from Spencer Dawkins:

I thought that text was clear, but wondered if the scales had tipped between TLS-over-TCP and TCP due to our improved understanding of pervasive monitoring. If they haven't tipped, there's no need to twiddle with the guidance.



Closing as "no change needed".