Multiplex reference

From Magnus Westerlund in IETF LC:

3. Section 3.5:

   WebRTC implementations MUST support multiplexing of DTLS and RTP over
   the same port pair, as described in the DTLS-SRTP specification
   [RFC5764], section 5.1.2.  All application layer protocol payloads
   over this DTLS connection are SCTP packets.

This text should reference also the update to RFC5764:
https://datatracker.ietf.org/doc/draft-ietf-avtcore-rfc5764-mux-fixes/

That document is publication requested so even as normative reference it will hopefully have minimal impact on the publication progress of this document. 

Looking at -mux-fixes, I think this is worth including. Adding.

